__pycache__
build
dist
docs/doctrees
docs/html
src/EVA/core/settings/config.ini
EVA.log
src/EVA/core/settings/config.json
.vscode/launch.json
src/g4bl/output_data
g4bl_terminal.txt
input_file.g4bl
out_file.txt